body {
    padding: 0px;
    margin: 0px;
  }
  
  .a1 {
    border-radius: 20px;
    background-color: red;
    width: 130px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
  
  .a2 :hover {
    background-color: aqua;
  
  }
  .a2 {
    padding: 3% 50% 100% 50%;
  }
  
  .a3 {
    width: 130px;
    height: 130px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding:20% 20% 30%;
    color: aliceblue;
  }
  
  .a4 {
    border-radius: 20px;
    width: 130px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6px;
    color: aliceblue;
  }
   