.t0 {
    display: flex;
    justify-content: space-between;
  }
  
  
  .tx{
    background-color: #00000081;
    color: #ffffff;
  }
  
  .t1 {
    border-radius: 50%;
    height: 5rem;
    border: 0.1rem solid #d83744;
    width: 5rem;
    cursor: pointer;
  }
  
  .t2 {
    display: flex;
  }
  
  .t3 {
    font-size: 2rem;
  }
  
  .t4{
    text-align: center;
  }
  
  .t5{
    text-align: center;
    background-color: #1372e6;
    padding: 0.5em;
    font-size: 0.8em;
  }
  
  .t7 {
    /* 固定在最下方 */
    position: fixed;
    bottom: 0px;
    right: 0px;
    /* fixed定位会丢失宽度，需要指定宽度 */
    width: 100%;
  }
  
  .t6{
    cursor: pointer;
  }

  .w1 {
      background-color: skyblue;
  }

  #btnJoin {
    display: inline-block;
    padding: 0.1rem 1rem;
    margin: 0.5rem;
    border: 0.1rem solid #ff0000;
    border-radius: 0.15rem;
    cursor: pointer;
  }
  
  #btnJoin:hover {
    background-color: rgba(255, 0, 0, 0.3);
  }

  .avatar img {
    padding: 5px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-top: -20px;
}

#wr {
    display: inline-block;
    padding: 0.1rem 1rem;
    margin: 0.5rem;
    border: 0.1rem solid #ff0000;
    border-radius: 0.15rem;
    cursor: pointer;
  }
  
  #wr:hover {
    background-color: rgba(255, 0, 0, 0.3);
  }

  .images {
    display: flex;
    justify-content: center;
  }
  
  /* 图片统一高度 */
  .images img {
    height: 10rem;
  }
  
  .style01{
    background-color: #18eee0;
    color: blue;
  }
  
  .style02{
    background-color: black;
    color: #ffff00;
  }

  .ws {
    border: 1px solid red;
    width: 0px;
    height: 0px;
  }