.body {
    margin: 0rem;
    padding: 0rem;
    background-color: rgba(240, 255, 255, 0.835);
  }
  
  .main {
    display: flex;
    background-color: rgb(245, 245, 220);
    margin-top: 4.4rem;
    margin-bottom: 0rem;
    padding: 3rem 0rem 0rem 0rem;
  }
  
  .ji {
    font-size: 1rem;
    color: aliceblue;
    /* 固定在上方 */
    position: fixed;
    width: 100%;
    height: 1rem;
    top: 0rem;
    z-index: 10;
    background: #1a80d2;
    padding: 0.3rem 0.25rem 1.5rem 0.25rem;
  }
  
  footer {
    position: fixed;
    padding: 0.5rem 0.5rem;
    width: 100%;
    bottom: 0px;
    z-index: 10;
    background: #ededed;
  }
  footer > div {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0.5rem;
    border-top: 1px solid #dcdcdc;
  }
  
  .f1 {
    background-color: #1a80d2;
  }
  
  .f2 {
    display: flex;
    justify-content: space-between;
  }
  
  .f3 {
    display: flex;
  }
  
  .f4 {
    padding: 2.2rem 0.2rem 0rem 0rem;
  }
  
  .b1 {
    padding: 3rem 0rem 0rem 1rem;
  }
  
  .b2 {
    flex: 1;
  }
  
  .b2>div {
    display: flex;
    justify-content: space-between;
  }
  
  .b3 {
    padding: 1.2rem 0.5rem 0.3rem 0.5rem;
    color: aliceblue;
  }
  
  .b4 {
    border-radius: 12px;
    background-color: #1a80d2;
    font-size: 0.8rem;
    color: lavender;
  }
  
  .b5 {
    padding: 1.2rem 0rem 0rem 0.5rem;
  }
  
  .fo1 {
    background-color: rgb(250, 250, 250);
  }
  
  .fo2 {
    flex: 1;
  }
  
  .fo2>div {
    display: flex;
    justify-content: space-between;
  }
  
  .fo3 {
    padding: 0.5rem 0rem 1rem 1rem;
  }
  
  .fo4 {
    font-size: 25px;
    padding: 0.25rem 0rem 0rem 0.5rem;
    background-color: floralwhite;
  }
  
  .fo5 {
    color: blue;
  }
  
  .tv1 {
    padding: 2rem 0rem 0rem 1rem;
  }
  
  .tv2 {
    padding: 0rem 0rem 0rem 1rem;
    flex: 1;
  }
  
  
  .tv2> {
    display: flex;
    justify-content: space-between;
  }
  
  .fo6 {
    display: flex;
    border-bottom: 1px solid rgb(250, 250, 250);
  }
  
  .fo7 {
    font-size: 0.85rem;
    color: darkslategrey;
  }
  
  .fo8 {
    display: flex;
    justify-content: space-between;
  }
  
  .fo9 {
    padding: 1rem 0.5rem 1rem 0rem;
  }
  
  .be1 {
    background-color: rgba(255, 228, 196, 0.616);
    height: 1rem;
  }
  
  be2 {
    background-color: rgb(245, 238, 230);
  }
  
  .be3 {
    display: flex;
    border-bottom: 1px solid rgba(238, 209, 209, 0.623);
  }
  
  .be4 {
    color: darkorange;
  }
  
  .be5 {
    color: rgba(16, 206, 16, 0.89);
  }
  
  .be6 {
    color: rgb(212, 10, 10);
  }
  
  .tc {
    font-size: 27px;
  }

  .active-icon {
    /* 激活的图标 */
    color: #3016f3;
  }