.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @font-face {
    font-family: 'iconfont';  /* project id 1555533 */
    src: url('//at.alicdn.com/t/font_1555533_ifl4ge3i1oq.eot');
    src: url('//at.alicdn.com/t/font_1555533_ifl4ge3i1oq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1555533_ifl4ge3i1oq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1555533_ifl4ge3i1oq.woff') format('woff'),
    url('//at.alicdn.com/t/font_1555533_ifl4ge3i1oq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1555533_ifl4ge3i1oq.svg#iconfont') format('svg');
  }