.style01{
    background-color: #ffcccc;
    color: blue;
  }
  
  .style02{
    background-color: black;
    color: #ffff00;
  }
  
  .qw {
    text-align: right;
  }
  
  .ws {
    border: 1px solid red;
    width: 0px;
    height: 0px;
  }