
#anidiv {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    color: #ffffff;
  }
  
  #dh01,
  #dh02,
  #dh03,
  #dh04,
  #dh05,
  #dh06 {
    display: inline-block;
    border: 1px solid #ff00ff;
    padding: 0.2rem;
    margin: 0.2rem;
    cursor: pointer;
  }
  
  @keyframes myani {
    0% {
      background-color: #ff0000;
    }
  
    50% {
      background-color: #000000;
    }
  }
  
  .myani {
    animation: myani 1s;
  }
  